body {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; /* define largura fixa */
    height: 100vh;
    overflow-y: auto;
    background: white; /* opcional */
    z-index: 1000;
}

.main-content {
    margin-left: 240px; /* igual à largura da sidebar */
    padding: 20px;
}

.sidebar-border {
    border-right: 2px solid #dee2e6;
}

.sidebar-divider {
    height: 1px;
    background-color: #dee2e6;
    margin-bottom: 15px;
    margin-top: 15px;
}

.rounded-ui {
    border-radius: 1rem !important;
    padding-left: 15px;
    padding-right: 15px;
}

.border-dashed {
    border-style: dashed !important;
}

.diary-card {
    border-radius: 15px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    padding: 20px;
}

.diary-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.diary-card {
    border-radius: 15px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    padding: 20px;
    height: 250px !important; /* força altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
