body {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333;
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: #f1f3f5;
    transform: translateX(5px);
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; /* define largura fixa */
    height: 100vh;
    overflow-y: auto;
    background: white; /* opcional */
    z-index: 1000;
}

.main-content {
    margin-left: 240px; /* igual à largura da sidebar */
    padding: 20px;
}

.sidebar-border {
    border-right: 2px solid #dee2e6;
}

.sidebar-divider {
    height: 1px;
    background-color: #dee2e6;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* diaries list */
.rounded-ui {
    border-radius: 1rem !important;
    padding-left: 15px;
    padding-right: 15px;
}

.border-dashed {
    border-style: dashed !important;
}

.diary-card {
    border-radius: 15px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    padding: 20px;
}

.diary-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.hover-card {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hover-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.diary-card {
    border-radius: 15px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    padding: 20px;
    height: 250px !important; /* força altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Patient list */
.patient-card {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    transition: all 0.15s ease;
    cursor: pointer;
}

.patient-card:hover {
    background: #f8f9fa;
    border-radius: 10px;
}

.patient-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto; 
    gap: 6px 20px;
    font-size: 0.9rem;
}


.patient-grid div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.patient-grid strong {
    color: #666;
    font-weight: 500;
    margin-right: 5px;
}

/* Container com ID + conteúdo */
.patient-layout {
    display: grid;
    grid-template-columns: 80px 1fr; /* ID + conteúdo */
    align-items: center;
    gap: 10px;
}

/* ID centrado */
.patient-id {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: #495057;

    background: #f8f9fa;
    border: 1px solid #e9ecef;

    border-radius: 12px;
    height: 100%;
    min-height: 60px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.patient-card:hover .patient-id {
    background: #eef1f4;
}