{% extends "trialpilot/base.html" %}

{% block title %}Patient List{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-3">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Top Bar -->
<div class="d-flex flex-column mb-4 ml-3 mr-3">

    <!-- Page Title -->
    <h3 class="mb-3">Patients List</h3>

    <!-- Buttons + Search -->
    <div class="d-flex justify-content-between align-items-center mb-3">

        <!-- Left side (search) -->
        <form method="GET">
            <div class="position-relative" style="width:260px">
                <i class="bi bi-search position-absolute"
                    style="left:10px; top:50%; transform:translateY(-50%); color:#888;"></i>

                <input type="text" name="search" class="form-control form-control-sm rounded-ui"
                    style="padding-left: 32px;" placeholder="Search patient...">
            </div>
        </form>

        <!-- Right side (buttons) -->
        <div class="dropdown" style="margin-right: 0.5rem;">
            <button class="btn btn-outline-secondary btn-sm rounded-ui dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel"></i>
                Filter
            </button>

            <div class="dropdown-menu dropdown-menu-end p-3 shadow-sm rounded-ui filter-dropdown"
                style="min-width: 260px;">
                <form method="GET" class="d-flex flex-column gap-3">

                    <input type="hidden" name="search" value="{{ search }}">

                    <!-- Stage -->
                    <div>
                        <label class="form-label fw-semibold mb-2 text-muted">Stage</label>
                        <select name="stage" class="form-select form-select-sm rounded-ui">
                            <option class="text-muted" value="">All</option>
                            <option class="text-muted" value="I" {% if stage == "I" %}selected{% endif %}>I</option>
                            <option class="text-muted" value="II" {% if stage == "II" %}selected{% endif %}>II</option>
                            <option class="text-muted" value="III" {% if stage == "III" %}selected{% endif %}>III</option>
                            <option class="text-muted" value="IV" {% if stage == "IV" %}selected{% endif %}>IV</option>
                        </select>
                    </div>

                    <!-- Molecular Status -->
                    <div>
                        <label class="form-label fw-semibold mb-2 mt-2 text-muted">Molecular Status</label>
                        <select name="molecular_status" class="form-select form-select-sm rounded-ui">
                            <option class="text-muted" value="">All</option>
                            <option class="text-muted" value="EGFR" {% if molecular_status == "EGFR" %}selected{% endif %}>EGFR</option>
                            <option class="text-muted" value="ALK" {% if molecular_status == "ALK" %}selected{% endif %}>
                                ALK</option>
                            <option class="text-muted" value="KRAS" {% if molecular_status == "KRAS" %}selected{% endif %}>KRAS</option>
                            <option class="text-muted" value="PD-L1" {% if molecular_status == "PD-L1" %}selected{% endif %}>PD-L1</option>
                            <option class="text-muted" value="Wild type" {% if molecular_status == "Wild type" %}selected{% endif %}>Wild type</option>
                            <option class="text-muted" value="Unknown" {% if molecular_status == "Unknown" %}selected{% endif %}>Unknown</option>
                        </select>
                    </div>

                    <!-- Actions -->
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{% url 'patient_list' %}" class="btn btn-sm btn-outline-secondary rounded-ui">
                            Clear
                        </a>
                        <button type="submit" class="btn btn-sm btn-outline-primary rounded-ui">
                            Apply
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="sidebar-divider mb-4"></div>

</div>

<div class="patient-list ml-3 mr-3">

    {% for patient, treatments in patient_data %}
    <div class="patient-card patient-card-trigger" data-id="{{ patient.id }}" data-age="{{ patient.age }}"
        data-ecog="{{ patient.ecog_ps }}" data-diagnosis="{{ patient.diagnosis }}"
        data-date="{{ patient.diagnosis_date }}" data-molecular="{{ patient.molecular_status }}"
        data-stage="{{ patient.stage }}" data-pathology_group="{{ patient.get_pathology_group_display }}" data-control="{{ patient.control }}" data-treatments='[
        {% for t in treatments %}
            {
                "name": "{{ t.treatment_name|escapejs }}",
                "start": "{{ t.start_date }}",
                "end": "{{ t.end_date|default:"Ongoing" }}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
     ]' data-analysis='{{ patient.json_analysis|safe }}'>

        <div class="patient-layout">

            <div class="patient-id">
                #{{ patient.id }}
            </div>

            <div class="patient-grid">
                <div><strong>Age:</strong> {{ patient.age }}</div>
                <div><strong>Diagnosis:</strong> {{ patient.diagnosis }}</div>
                <div><strong>Molecular:</strong> {{ patient.molecular_status }}</div>

                <div><strong>ECOG:</strong> {{ patient.ecog_ps }}</div>
                <div><strong>Pathology:</strong> {{ patient.get_pathology_group_display }}</div>
                <div><strong>Stage:</strong> {{ patient.stage }}</div>
            </div>

            <div class="patient-actions">
                <button class="btn btn-outline-danger btn-sm reset-btn rounded-ui"
                    data-document-id="{{ patient.document.id }}" data-patient-id="{{ patient.id }}">
                    <i class="bi bi-trash"></i>
                </button>
            </div>

        </div>

    </div>
    {% endfor %}

</div>

<div class="modal fade" id="patientModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-ui">

            <div class="modal-header">
                <h5 class="modal-title">Patient Details</h5>
            </div>

            <div class="modal-body" id="patientModalBody">
            </div>

            <div class="modal-footer">


                <button class="btn btn-outline-secondary rounded-ui" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3 rounded-ui">

            <h5 class="mb-3">Reset Extraction</h5>

            <div id="resetModalBody"></div>

            <div class="d-flex justify-content-end gap-2 mt-3">
                <button class="btn btn-outline-secondary rounded-ui " data-bs-dismiss="modal"
                    style="margin-right: 0.5rem;">Cancel</button>
                <button id="confirmResetBtn" class="btn btn-outline-danger rounded-ui">
                    Reset
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}